<mat-tab-group>
  <!-- TODO: Que sean variables los contenidos de reminders y reminder group -->
  <mat-tab label="{{'ticklerFile.today' | translate}}"> <br><br><br><app-reminders [reminders]="ticklers[0]"></app-reminders> </mat-tab>
  <mat-tab label="{{'ticklerFile.nextDays' | translate}}"> <br><br><app-reminders [reminders]="ticklers[1]"></app-reminders></mat-tab>
  <mat-tab label="{{'ticklerFile.all' | translate}}"> <br><br><app-reminders [reminders]="ticklers[2]"></app-reminders></mat-tab>
</mat-tab-group>