<mat-accordion class="card">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-form-field>
          <mat-label>Clearable input</mat-label>
          <input matInput type="text" [(ngModel)]="value" />
        </mat-form-field>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <input matInput class="subtask" type="text" [(ngModel)]="value" />
    <input matInput class="subtask" type="text" [(ngModel)]="value" />
  </mat-expansion-panel>
</mat-accordion>
