<div class="form-dialog">

  <div class="form-header">
    <h2 class="form-title"
      [ngStyle]="{'content': model.isEdit ? language.eventFormTexts['headerTitleEdit'] : language.eventFormTexts['headerTitleAdd']}">
      {{modalTitle}}</h2>
    <button class="close-btn" mat-icon-button aria-label="close" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="form-body">
    <form id="eventForm" (submit)="onSubmit()" [formGroup]="form" enctype='multipart/form-data'>
      <div class="fields">

        <!-- title -->
        <mat-form-field appearance="outline" class="">
          <mat-label>{{language.eventFormTexts[formTextsKeys.Title]}}</mat-label>
          <input id="title" matInput formControlName="{{formTextsKeys.Title}}" #eventTitle />
          <mat-error *ngIf="form.invalid">{{titleError}}</mat-error>
          <mat-hint class="hint">{{eventTitle.value.length}} / 60</mat-hint>
        </mat-form-field>

        <!-- description -->
        <mat-form-field appearance="outline">
          <mat-label>{{language.eventFormTexts[formTextsKeys.Description]}}</mat-label>
          <textarea matInput #eventDescr formControlName="{{formTextsKeys.Description}}" maxlength="200"
            class="description"></textarea>
          <mat-hint class="hint">{{eventDescr.value.length}} / 200</mat-hint>
        </mat-form-field>

        <!-- tag color and all day -->
        <div class=" tag-container">
          <div class="campo mb-2">
            <mat-label>{{language.eventFormTexts[formTextsKeys.Color]}}</mat-label>
            <input matInput formControlName="{{formTextsKeys.Color}}" type="color" class="color-input">
          </div>

          <div class="campo mb-2">
            <mat-slide-toggle formControlName="{{formTextsKeys.IsAllDay}}" [labelPosition]="'before'"
              (toggleChange)="showDates()"><span
                class="me-2 allday">{{language.eventFormTexts[formTextsKeys.IsAllDay]}}</span></mat-slide-toggle>
          </div>
        </div>

        <ng-container *ngIf="!model.isAllDay">

          <!-- start date and time -->
          <div class=" date-container">

            <mat-form-field appearance="outline">
              <mat-label>{{language.eventFormTexts[formTextsKeys.StartDate]}}</mat-label>
              <input class="date-input" matInput type="date" formControlName="{{formTextsKeys.StartDate}}">
              <mat-error *ngIf="form.invalid">{{startDateError}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{language.eventFormTexts[formTextsKeys.StartTime]}}</mat-label>
              <input class="date-input" matInput type="time" formControlName="{{formTextsKeys.StartTime}}">
              <mat-error *ngIf="form.invalid">{{startTimeError}}</mat-error>

              <a (click)="openTimeDialog()" class="time-btn" matSuffix aria-label="set time">
                <mat-icon>schedule</mat-icon>
              </a>
            </mat-form-field>
          </div>

          <!-- end date and time -->
          <div class=" date-container">

            <mat-form-field appearance="outline">
              <mat-label>{{language.eventFormTexts[formTextsKeys.EndDate]}}</mat-label>
              <input class="date-input" matInput type="date" formControlName="{{formTextsKeys.EndDate}}">
              <mat-error *ngIf="form.invalid">{{endDateError}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{language.eventFormTexts[formTextsKeys.EndTime]}}</mat-label>
              <input class="date-input" matInput type="time" formControlName="{{formTextsKeys.EndTime}}">
              <mat-error *ngIf="form.invalid">{{endTimeError}}</mat-error>

              <a (click)="openTimeDialog(false)" class="time-btn" matSuffix aria-label="set time">
                <mat-icon>schedule</mat-icon>
              </a>
            </mat-form-field>

          </div>
        </ng-container>

      </div>

    </form>
  </div>

  <div class="form-footer">


    <button class="btn-save" mat-flat-button aria-label="close" [disabled]="form.invalid" form="eventForm"
      (click)="onSubmit()">
      <mat-icon>{{model.isEdit ? 'edit' : 'save'}}</mat-icon>
      {{ model.isEdit ? language.eventFormTexts[formTextsKeys.BtnEditText] :
      language.eventFormTexts[formTextsKeys.BtnSaveText]}}
    </button>

    <button class="btn-cancel" mat-flat-button aria-label="close" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
      {{language.eventFormTexts[formTextsKeys.BtnCancelText]}}

    </button>
  </div>


</div>