<app-header class="position-fixed w-100"></app-header>
<div class="cosita">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="scrollable-container">
                    <app-task-card class="scrollable-item"></app-task-card>
                    <app-task-card class="scrollable-item"></app-task-card>
                    <app-task-card class="scrollable-item"></app-task-card>
                    <app-task-card class="scrollable-item"></app-task-card>
                </div>
            </div>
        </div>
    </div>
</div>