<app-header></app-header>
<!-- TODO: Se ha roto el header al hacerlo pequeño -->
<div class="d-flex justify-content-center align-items-baseline container-full-height w-100">
    <app-task-card class="d-flex justify-content-center align-items-baseline mt-5 flex-fill"></app-task-card>
    <app-task-card class="d-flex justify-content-center align-items-baseline mt-5 flex-fill"></app-task-card>
    <app-task-card class="d-flex justify-content-center align-items-baseline mt-5 flex-fill"></app-task-card>
    <app-task-card class="d-flex justify-content-center align-items-baseline mt-5 flex-fill"></app-task-card>
</div>